@font-face{
    font-family: Kleymisska;
    src:url(src/font/Kleymisska.ttf);
}

@font-face{
    font-family: Craftcoke;
    src:url(src/font/Craftcoke.ttf);
}

@font-face{
    font-family: MightyKingdom;
    src:url(src/font/MightyKingdom.ttf);
}