.marginT{
    margin-top: 2%;
    border: 1px solid #006a81;
    width: 32%;
    height: 120px;
    text-align: center;
    padding-top: 4%;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    color: #006a81;
}
.rec{
    display: flex;
    justify-content: space-around;
}

img{
    width: 100px;
    height: 120px;
}