#mainNav{
    background-color: #006a81;
    opacity: 0.9;
    color: #2c3034;
}

.logo{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #e3c72b;
}
.logo:hover{
    color: #61dafb;
}
.shopOne{
    border: 1px solid yellow;
    border-radius: 50%;
    padding: 10%;
    color: #e3c72b;
    margin-left: 3%;
}
.shopOne:hover{
    color: #61dafb;
}
.btn {
    height: 69%;
    margin-top: 8%;
}
li {
    width: 99%;
    border: none;
}