.shopTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
    padding-bottom: 2%;
    padding-left: 1%;
    -webkit-box-shadow: -5px -5px 60px -5px rgba(29, 85, 128, 0.6);
    -moz-box-shadow: -5px -5px 60px -5px rgba(29, 85, 128, 0.6);
    box-shadow: -5px -5px 60px -5px rgba(29, 85, 128, 0.6);
}
.titleName{
    width: 48%;
    display: flex;
    margin-top: 1%;
    /*border: 2px solid red;*/
}
.titleName:hover{
    width: 100%;
    display: flex;
}
.shopName{
    font-size: 20px;
    font-weight: bold;
    color: #006a81;
    font-style: italic;

}
.foto{
    width: 45%;
    border: 2px solid #006a81;
    border-radius: 5px;
    margin-left: 1%;
}
.titleName:hover .foto{
    width: 40%;
    /*height: 40%;*/
}
.inform{
    width: 55%;
    margin-left: 2%;
    border: 2px solid #006a81;
    border-radius: 5px;
    padding-left: 3%;
}
.about{
    width: 44%;
    border: 2px solid #006a81;
    border-radius: 5px;
    margin-left: 8%;
    display: none;
    flex: 0 0 50%;


}
.about p{
    word-wrap: break-word;
    margin: 0 1%;
}
.titleName:hover .about{
    display: block;
    margin: 1%;
    flex-direction: row;
    flex: 0 0 50%;
}
.titleName:hover .foto{
    width: 22%;
}
.titleName:hover .inform{
    width: 27%;
    margin-left: 1%;
    padding-left: 1.5%;

}
.buttonAll{
    display: none;
}
.open a {
    border: 2px solid #006a81;
    width: 35%;
    text-align: center;
    color: #006a81;
    padding: 0.5%;
    text-decoration: none;
    border-radius: 5px;
}
.open a:hover{
    color: lightyellow;
    background-color: #006a81;
}

