.shopTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid red;

}
.titleName{
    width: 48%;
    display: flex;
    border: 2px solid red;
}
.titleName:hover{
    width: 100%;
    display: flex;
}
.shopName{
    font-size: 20px;
    font-weight: bold;
    color: #006a81;
    font-style: italic;
}
.foto{
    width: 32%;
    border: 2px solid green;
}
.titleName:hover .foto{
    width: 30%;
    /*height: 40%;*/
}
.inform{
    width: 65%;
    margin-left: 2%;
    border: 2px solid green;
}
.about{
    width: 45%;
    border: 2px solid green;
    margin-left: 8%;
    display: none;
    box-sizing: border-box;
    flex: 0 0 50%;


}
.about p{
    word-wrap: break-word;
    margin: 0 1%;
}
.titleName:hover .about{
    display: block;
    margin: 1%;
    flex-direction: row;
    flex: 0 0 50%;
}
.titleName:hover .foto{
    width: 15.3%;
}
.titleName:hover .inform{
    width: 31%;
    margin-left: 1%;

}
.buttonAll{
    display: none;
}

