.marTop{
    margin-top: 7%;
}
.shopDiv{
    border: 2px solid #006a81;
    border-radius: 15px;
    background-color: lightyellow;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    padding: 1% 0;
    -webkit-box-shadow: -5px -5px 60px -5px rgba(29, 85, 128, 0.6);
    -moz-box-shadow: -5px -5px 60px -5px rgba(29, 85, 128, 0.6);
    box-shadow: -5px -5px 60px -5px rgba(29, 85, 128, 0.6);
}
.icon{
    width: 20%;
    border: 1px solid #006a81;
    border-radius: 20px;
    margin-left: 1%;
}
.info{
    width: 25%;
    margin-left: 1%;
}
.aboutShop{
    width: 39%;
}
.aboutShop p{
    word-wrap: break-word;
    margin: 0 1%;
}
.button{
    display: block;
}
img, svg {
    color: blue;
}
/*.telegramButton{*/
/*    width: 40px;*/
/*    border-radius: 10px;*/
/*}*/
button{
    background-color: lightyellow;
    border: 2px solid #006a81;
    border-radius: 5px;
    margin-top: 1%;
}
button:hover{
    background-color: #006a81;
    color: lightyellow;
}
.btnCard{
    margin-bottom: 3%;
}
.block{
    display: flex;
    justify-content: space-around;
}
.reclama{
    border: 1px solid #006a81;
    border-radius: 5px;
    width: 75%;
    text-align: center;
    margin-bottom: 2%;
}
.reclama p{
    margin-top: 2%;
    font-size: 30px;
    font-style: italic;
}